body { 
  
  font-family: 'Open Sans', sans-serif;
  margin: 0;
} 

a { 

  text-decoration: none; 
} 

html { 

  box-sizing: border-box; 
} 

*, 
*::before, 
*::after { 

  box-sizing: inherit; 
}

.list-hidden-marker {

  list-style-type: none;
}

.button {

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #000000;
}

/* header */

.nav-item {

  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.search-image {

}

.search-text {

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

/* footer */

.footer {

  background: #434343;
}

.footer-title {

  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}

.navigation-list {

  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-stars {

}

.connect-form {

}

.social-list {

}

.social-item {

}

