/* slider */

.slide {

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  background: #EEE4DB;

}

.slider-buttons {

  width: 31px;
  height: 3px;
  left: 141px;
  top: 332px;
  display: flex;
  flex-direction: column;
}

.slide-fon {

  margin-left: 445px;
}


.slide-title {

  width: 307px;
  height: 88px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  margin: 0;
}

.slide-text {

  margin-bottom: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.slide-link {

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #000000;
}


.discount-text {

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #C29974;
  padding: 22px 0;
  margin-bottom: 90px;
}


/* category */

.category-item {

  position: relative;
  width: 25%;
  height: 270px;
  margin: 0 -10px;
}

.category-title {

  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  text-align: left;
}

.category-list {

  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 30px;
}

.category-img {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-subtitle {

  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.category-subtitle:hover {

  color: #FFFFFF;
}

.category-subtitle:active {

  text-decoration-line: underline;
  color: #FFFFFF;
}

.category-box {

  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.box-button {

  cursor: pointer;
  margin-right: 6px;
  background: transparent;
  border: 0;
  padding: 0;
}

.category-text {

  width: 580px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

/* delivery */

.delivery {

  display: flex;
  margin-bottom: 90px;
}

.delivery-img {

  padding-right: 120px;
}

.delivery-title {

  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  margin-top: 30px;
  margin-bottom: 6px;
}

.delivery-buttons-list {

  padding: 0;
}

.delivery-button {

  font-family: 'Crimson Text', serif;
  background: transparent;
  display: inline-block;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
  margin-bottom: 10px;
  padding: 10px 180px 10px 0px;
}

.delivery-button:hover {

  cursor: pointer;
  font-weight: bold;
  background: rgba(151, 193, 211, 0.2);
}


.delivery-text {

  font-family: 'Open Sans', sans-serif;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

/* partners */

.hidden {

  display: none;
}

.partners-list {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
  padding: 0;
}

/* design-life-kids */

.about-us {

  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.about-us-title {

  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
}

.design-life-kids {

  background-color: #E1F0F7;
  margin-right: 57px;
  padding: 0 30px;
  position: relative;
}

.design-life-kids-title {

  margin: -25px 0;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.about-us-title {

  padding: 10px 10px;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.about-text {

  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.kids-button {

  margin-bottom: 35px;
}

/* contacts */

.contacts {

  position: relative;
  padding: 0 30px;
  margin-bottom: 30px;
  background: #E1F0F7;
}

.contacts-title {

  margin: -25px 0;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.contact-text {

  padding: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.map-image {

  position: absolute;
  top: 150px;
}

/* modal form */

.modal-form {

  background: #E5EAF8;
}

.contact-us-form {

  max-width: 680px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.form-label {

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form-input {

  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 43px;
}

.form-row {

  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
}

.form-communication {

  margin: 0 10px;
  width: 100%;
}

.button-form {

  cursor: pointer;
  font-weight: bold;
  padding: 9px 22px;
  width: 106px;
  height: 50px;
  color: #E1E1E1;
  background-color: #C1C1C1;
  margin-top: 20px;
}

.form-input-checkbox {

  list-style-type: none;
}

.form-label-checkbox {

  display: flex;
  align-items: center;
}

.form-checkbox {

  padding-left: 35px;
}

.form-input:hover {

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form-input:active {

  border: 3px solid rgba(0, 0, 0, 0.2);
}

.form-checkbox::before {

  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: 2px solid #C29974;
  border-radius: 3px;
}

.form-input-checkbox:checked + .form-checkbox:after {

  content: "";
  display: block;
  position: absolute;
  width: 14.23px;
  height: 14.64px;
  box-sizing: border-box;
  background-image: url(/images/galka.svg);
}