/* slider */

.main-slider {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 411px;
  margin-top: 129px;
  background: #EEE4DB;
}

.slide {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 372px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.slider-number {

  width: 61px;
  height: 70px;
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  background: #EEE4DB;
  
}

.slider-buttons {
  
  position: absolute;
  left: 28px;
  top: 17px;
  display: flex;
  flex-direction: column;
}

.slider-button {

  display: block;
  width: 31px;
  height: 3px;
  margin-bottom: 11px;
  background-color: #D6CAC2;
}

.slider-button:hover, .slider-button:focus {

  background-color: rgba(30, 6, 6, 0.6);
}

.slider-button__1 {

  background-color: rgba(30, 6, 6, 0.6);
}

.slide-img {

  position: absolute;
  margin-left: 445px;
  bottom: 0;
}


.slide-title {

  display: block;
  width: 307px;
  min-height: 88px;
  padding-top: 89px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  margin: 0;
  padding-left: 133px;
  
}

.slide-text {

  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  padding-left: 133px;
}

.slide-link {

  margin-top: 20px;
  margin-left: 133px;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: #000000;
}


.discount-text {

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 39px;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #C29974;
}


/* category */

.category-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 30px;
}

.category-item {

  position: relative;
  width: 25%;
  height: 270px;
  margin: 0 -10px;
}

.category-link:hover  .category-subtitle, .category-link:focus  .category-subtitle {

  text-decoration-line: underline;
}

.category-title {

  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  text-align: left;
  margin-top: 90px;
}

.category-img {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-subtitle {

  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.category-box {

  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.box-button {

  cursor: pointer;
  margin-right: 6px;
  background: transparent;
  border: 0;
  padding: 0;
}

.category-text {

  width: 580px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}


/* delivery */

.delivery {

  display: flex;
  margin-bottom: 90px;
}

.delivery-img {

  padding-right: 120px;
}

.delivery-title {

  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  margin-top: 30px;
  margin-bottom: 6px;
}

.delivery-buttons-list {

  padding: 0;
}

.delivery-button {

  font-family: 'Crimson Text', serif;
  background: transparent;
  text-align: start;
  width: 326px;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
  padding: 11px 0;
  padding-left: 60px;
  margin-left: -60px;
}

.delivery-button1 {

  font-family: 'Crimson Text', serif;
  background: transparent;
  text-align: start;
  width: 326px;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
  padding: 11px 0;
  padding-left: 60px;
  margin-left: -60px;
  background-color: rgba(112, 187, 220, 0.2);
}

.delivery-button:hover, .delivery-button:focus {

  cursor: pointer;
  background: rgba(112, 187, 220, 0.2);
}

.delivery-button:active {

  background: rgba(16, 105, 143, 0.2);
}

.delivery-text {

  font-family: 'Open Sans', sans-serif;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

/* partners */

.hidden {

  display: none;
}

.partners-list {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
  padding: 0;
}

/* design-life-kids */

.about-us {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 164px;
}

.design-life-kids {

  width: 543px;
  background-color: #E1F0F7;
  margin-right: 28.5px;
  padding: 0 30px;
  position: relative;
  float: left;
}

.about-us-title {

  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -16px;
  color: #1E0606;
}

.design-life-kids-title {

  margin: -24px 0;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.about-text {

  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.kids-button {

  margin-bottom: 35px;
}

/* contacts */

.contacts {

  width: 543px;
  margin-left: 28.5px;
  position: relative;
  padding: 0 30px 80px 30px;
  background: #E1F0F7;
}

.contacts-title {

  margin: -24px 0;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.contact-text {

  padding-right: 0;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.map-image {

  position: absolute;
  top: calc(100% - 80px);
}

/* modal form */

.modal-form {

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(125, 151, 218, 0.8);
}

.modal-form-window {

  margin: auto;
  position: relative;
}


.modal-form_none {

  display: none;
}


.contact-us-form {

  max-width: 680px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #E5EAF8;
}

.form-label {

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form-input {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1E0606;

  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 43px;
  padding: 14px 0 14px 20px;
}

.form-row {

  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
}

.form-communication {

  margin: 0 10px;
  width: 100%;
}

.button-form {

  cursor: pointer;
  font-weight: bold;
  padding: 9px 22px;
  width: 106px;
  height: 50px;
  color: #E1E1E1;
  background-color: #C1C1C1;
  margin-top: 20px;
}

.form-input-checkbox {

  list-style-type: none;
}

.form-label-checkbox {

  display: flex;
  align-items: center;
}

.form-checkbox {

  padding-left: 35px;

}

.form-input:hover, .form-input:focus {

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form-input:active {

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form-checkbox::before {

  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: 2px solid #C29974;
  border-radius: 3px;
}

.form-input-checkbox:checked + .form-checkbox:after {

  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  box-sizing: border-box;
  background-image: url(/images/galka.svg);
}


/* 2 страница CATALOG */

.categorys-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 10px;
}

.categorys-item {

  position: relative;
  width: 25%;
  height: 270px;
  margin: 20px 20px 0 -10px;
}

.categorys-item:nth-child(4) {

  margin-left: 200px;
}

.main-title {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  margin-top: 50px;
  margin-bottom: 25px;
}

.main-text {

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0;
  color: #1E0606;
}

.categorys-link {

  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  margin-right: 20px;
  color: #1E0606;
}

.categorys-link:hover, .categorys-link:focus {

  cursor: pointer;
  color: #1E0606;
  opacity: 0.5;
}

.categorys-arrow {

  margin-right: 20px;
}

.categorys-product {

  width: 680px;
  margin-bottom: 60px;
}

/* 3 страница Toys */

.toys-section {

  background-color: rgba(125, 151, 218, 0.2);
}

.toys-title {

  width: 297px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #1E0606;
  text-align: left;
}

.section-title {

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.toys-link {

  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  margin-right: 20px;
  color: #1E0606;
}

.toys-link:hover, .toys-link:focus {

  cursor: pointer;
  color: #1E0606;
  opacity: 0.5;
}

.toys-arrow {

  margin-right: 20px;
}

.toys-form {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-top: 42px;
  padding-bottom: 44px;
}

.form-sections {

  margin: 0;
}

.form-text {

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.color-section {

  margin: 15px 0;
}

.label-color {

  position: relative;
  padding-left: 25px;
  margin-left: -25px;
}

.label-color::before {

  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 19px;
  height: 19px;
  transform: translateY(-50%);
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.form-color-checkbox:hover, .form-color:focus + .form-color-checkbox {
  
  cursor: pointer;
  text-decoration: underline;
}

.form-color:checked + .label-color:after {

  content: "";
  display: block;
  position: absolute;
  left: 4;
  top: 50%;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  box-sizing: border-box;
  background-image: url(/images/galka.svg);
}

.label-shipping {

  position: relative;
  padding-left: 30px;
  margin-left: -25px;
}

.label-shipping::before {

  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 100%;
}

.form-shipping:checked + .label-shipping::after {

  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  background-color: #C29974;
  box-sizing: border-box;
  border-radius: 100%;
}

.label-shipping:hover, .form-shipping:focus + .label-shipping {

  cursor: pointer;
  text-decoration: underline;
}

.amount-section {

  display: flex;
  padding-left: 0;
  margin: 16px 0;
}

.label-amount {

  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 6px 19px;
  margin-top:-22px;
  width: 80px;
  background-color: #FFFFFF;
}

.label-amount:hover, .form-amount:focus + .label-amount {

  cursor: pointer;
  background-color: #EDDEEB;
}

.form-amount:checked + .label-amount {

  
  background-color: #F3D0DB;
}

.button-form-amount {

  cursor: pointer;
  display: block;
  margin-top: 35px;
}

.toys-shop {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.shop-list {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 53px;
  margin: -10px;
}

.shipping-section {

  margin: 15px 0 10px 0;
}

.shop-item {

  position: relative;
  width: 380px;
  height: 497px;
  margin: 10px;
}

.shop-img {

  width: 380px;
  height: 385px;
}

.toys-shop-img {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 207px;
  left: 50%;
  top: 50%;
  transform: translateY(calc(-50% - 59px)) translateX(-50%);
  background-color: #E5EAF8;
  opacity: 0;
  transition: 0.5s;
}

.toy-link:hover .toys-shop-img, .toy-link:focus .toys-shop-img {

  opacity: 0.9;
}

.toy-link:active > .toys-shop-img {

  opacity: 0.67;
}


.toys-shop-text {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #1E0606;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.shop-text {

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1E0606;
  padding-top: 30px;
  margin: 0;
}

.usd-text {

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1E0606;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 0;
}

.img-nav-link-color:hover, .img-nav-link-color:focus {

  cursor: pointer;
  stroke: #C29974;
  stroke-opacity: 1;
}

.img-nav-link-color:active {

  cursor: none;
  stroke: #C29974;
  stroke-opacity: 0.5;
}

/* 4 страница blog */

.blog-list {

  padding: 0;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.blog-item {

  box-sizing: border-box;
  width: 33.33%;
  padding: 10px;
  padding-top: 50px;
}

.blog-link:hover .blog-heading, .blog-link:active .blog-heading, .blog-link:focus .blog-heading {

  cursor: pointer;
  text-decoration: underline;
}

.blog-title {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  text-align: left;
}

.blog-note {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
  mix-blend-mode: normal;
}

.blog-heading {

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
}

.blog-heading:hover, .blog-heading:focus {

  text-decoration-line: underline;
  color: #1E0606;

}

.blog-text {

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}

.blog-arrow {

  margin-right: 20px
}

.blog-link {

  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  margin-right: 20px;
  color: #1E0606;
}

.img-nav {

  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.img-nav-link {

  display: flex;
  justify-content: space-between;
}

.img-nav-link:hover, .img-nav-link:focus {

  color: #C29974;
}

.img-nav-link:active {

  color: #C29974;
  opacity: 0.5;
}

.img-nav-number {

  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 230px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 0;
  color: #1E0606;
}


.img-nav-item {

  display: flex;
  color: #1E0606;
}

.img-nav-item:hover, .img-nav-item:focus {

  color: #C29974;
}

.img-nav-item:active {

  opacity: 0.5;
}

/* 5 страница contact-us */

.contact-us-body {

  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contact-us-link {

  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 25px;
  margin-right: 20px;
  margin-left: 20px;
  color: #1E0606;
}

.contact-us-link:hover, .contact-us-link:focus {

  cursor: pointer;
  color: #1E0606;
  opacity: 0.5;
}

.contact-us-arrow {

  margin-right: 20px;
}

.contact-us-title {

  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  text-align: left;
  margin-top: 90px;
}

.contact-us-text {

  margin-left: 120px;
  width: 380px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.contact-us-text-expert {

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  width: 380px;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}

.button-form {

  cursor: pointer;
  font-weight: bold;
  padding: 9px 22px;
  width: 106px;
  height: 50px;
  border: 1px solid transparent;
  color: #E1E1E1;
  margin-top: 20px;
  background-color: #000000;
  transition: 0.5s;
}

.button-form:hover, .button-form:focus {

  cursor: pointer;
  background-color: #C29974;
}

.button-form:active {

  background-color: #CFAF91;
}